#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  wekan-app.service
BindsTo=wekan.service
After=wekan.service mongo-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/wekan-app.pid %t/wekan-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/wekan-app.pid \
    --cidfile %t/wekan-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/wekan.pod-id --replace -d --name  wekan-app \
    --env-file=%S/state/wekan.env \
    --volume /etc/localtime:/etc/localtime/:Z \
    --volume wekan-files:/data/:Z \
    ${WEKAN_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/wekan-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP wekan-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/wekan-app.ctr-id
PIDFile=%t/wekan-app.pid
Type=forking

[Install]
WantedBy=default.target
